.people-leader {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .people-leader:hover {
    opacity: 0.3;
}

.people-leader.consultant{
  color: #7F00FF;
}

.people-leader.not-consultant{
  color: #224FFF;
}

.sm-avatar-container{
  height: 24px;
  width: 24px;
  margin-right: 8px;
}